* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(10, 10, 10);
}

h1,h2,p,a,ul,li {
    transition: 0.7s;
    display: flex;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Nunito', sans-serif;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Quicksand', sans-serif;

    font-family: 'Roboto Mono', monospace;

    font-family: 'Sono', sans-serif;

    font-family: 'Source Code Pro', monospace;

    color: white;
    justify-content: center;
}

.navim {
    justify-content: flex-end;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    background-image: url("https://media.discordapp.net/attachments/763848072068988951/1048788701532131408/wall.png?");
}

.li:hover {
    padding: 5px;
    text-decoration:underline;
}

img {
    margin: auto;
    display: block;
    transition: 0.7s;
    width: 30%;
}

h1 {
    font-size: 40px;
}


.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.li {
    float: left;
    display: inline;
  }

.footer {
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(7, 7, 7);
    color: white;
  }



.op {
    display: inline;
}

.opp {
    border-radius: 10px;
    transition: 1s;
    padding: 40px;
    margin: 30px;
    background-color: rgb(15, 15, 15);
}

.opp:hover {
    margin: 1px;
}

p {
    opacity: 0.5;
}

.fot {
    opacity: 1!important;
}

.aa {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 180px;
    height: 60px;
    line-height: 60px;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;

}

.aa svg, .aa svg rect {
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
}

.aa svg rect {
    stroke: white;
}

.aa:hover {
    border-radius: 3px;
    background-color: white;
    color: black;
}